body {
    background: rebeccapurple;
}

h1 {
    color: white;
    text-transform: uppercase;
}

.test-paragraph-class {
    font-size: 18pt;
    font-weight: bold;
    color: lightsalmon;
}

.input-label {
    font-size: 14pt;
    color: white;
}

input {
    font-size: 14pt;
    margin-top: 5px;
    display: block;
}

.greeting {
    padding: 20px;
    border-radius: 3px;
    background: darkslateblue;
    color: ghostwhite;
    border: 1px solid darkblue;
    display: inline-block;
    font-size: 18pt;
    font-weight: bold;
}

.fucko-detected {
    background: red;
}